

.header1
{
        //background-color: whitesmoke;
        letter-spacing: 40px;
        text-align: center;
        font-size: 5.6vw; 
        color: lightblue;
        
}

.header2
{
        //background-color: whitesmoke;
        letter-spacing: 8px;
        padding-bottom: 5px;
        text-align: center;
        font-size: 2.6vw; 
        color: dimgray;
        
}

body
{
        //background-color: cornflowerblue;
        background-image: url("Assets/capp.jpeg");
        background-repeat: no-repeat;
        background-size: 5500px 1736px;

    /* Full height */
    //height: 100%;

    /* Center and scale the image nicely */
   /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.x
{
        text-align: right;
        font-size: 3vw;
        color: LightSlateGrey  ;
        letter-spacing: 5px;
        font-weight: bold;
        text-shadow: 2px 2px LightGray;
}

.y
{
        text-align: center;
        font-size: 1.6vw;
        color:Gray ;
        letter-spacing: 2px;
}

.z
{
        text-align: left;
        font-size: 3vw;
        color:LightSlateGrey ;
        letter-spacing: 5px;
        font-weight: bold;
        text-shadow: 2px 2px LightGray;
}

.button1 {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        display: inline-block;
        padding: 6pt 20pt;
        line-height: 1.7;
        border: 1px solid #6C63FF;
        color: #6C63FF;
        font-weight: 400;
        transition: 0.7s;
        white-space: nowrap;
        cursor: pointer;
        background-color: transparent;
        border-radius: 30px;
        margin-bottom: 1.3em;
        transition: 0.7s;
        text-align: center;
        text-decoration: none; 
        //border-radius: 120px;
    }
